@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#newSong-container{
    display: flex;
    flex-direction: column;
}
.newSong-form{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    width: 50vw;
}
.upload-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.song-title-input{
    text-decoration: none;
    border: none;
    border-radius: 2px;
    color: #27272B ;
    background-color: #FFFFFF;
    width: 50vw;
    height: 5vh;
}
.song-title-input:focus{
    transition: 1s;
    background-color: #27272B;
    color: #00A5DF;
}


.imageUrl-input{
    text-decoration: none;
    border: none;
    border-radius: 2px;
    color: #27272B ;
    background-color: #FFFFFF;
    width: 50vw;
    height: 5vh;
}

.imageUrl-input:focus{
    transition: 1s;
    background-color: #27272B;
    color: #00A5DF;
}

.songUrl-input{
    text-decoration: none;
    border: none;
    border-radius: 2px;
    color: #27272B ;
    background-color: #FFFFFF;
    width: 50vw;
    height: 5vh;
}

.songUrl-input:focus{
    transition: 1s;
    background-color: #27272B;
    color: #00A5DF;
}

.submit-song-button{
    border: none;
    background-color: #00A5DF;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    width: 15vw;
    height: 5vh;
}
.submit-song-button:hover{
    transition: .5s;
    box-shadow: 0 0 15px #27272B;
}


ul{
    display: flex;
    flex-direction: column;
    align-self: center;
}
li{
    color: red;
    list-style: none;
}
/* CSS FOR CREATE NEW SONG BUTTON ON NAV BAR (DONT TOUCH UNLESS EDIT STYLE FOR NAV) */

.newSongNavbutton{
    text-decoration: none;
    color: #00A5DF;
}

.newSongNavbutton:hover{
    transition: 1s;
    color:#FFFFFF;
}
