.songList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15%;
    margin-right: 15%;
}

.songList a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.individual-song{
    color: black;
    cursor: pointer;


    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; */


    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
}

/* .song-title{

} */
