@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

img:hover{
    cursor: pointer;
}

.song-info-container{
    display: flex;
    flex-direction: column;

    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

.song-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
}


.fa-play{
    color: #00A5DF;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.fa-play:hover{
    transition: .5s;
    color: #2B5B6C;
}


.edit-song-button{
    text-decoration: none;
    color: #00A5DF;
    width: 5vw;

    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.edit-song-button:hover{
    transition: .5s;
    box-shadow: 0 0 3px black;
}

.delete-song{
    border: none;
    background-color: #27272B;
    border-radius: 4px;
    width: 5vw;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}
.delete-song:hover{
    transition: .5s;
    color: white;
    background-color: red;
}


/* create comment area */
.create-comment-form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.comment-text-input{
    width: 30vw;
    height: 8vh;
    color: #27272B;
    border: none;
    background-color: #FFFFFF;
}


.create-comment-button{
    text-decoration: none;
    color: #00A5DF;
    width: 5vw;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;


    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.create-comment-button:hover{
    transition: .3s;
    box-shadow: 0 0 3px black;
}

/* comments section */

.comments-section{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    border: 1px solid black;

    margin-bottom: 200px;
}

.individual-comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.delete-comment-button{
    border: none;
    background-color: #27272B;
    border-radius: 4px;
    width: 5vw;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.delete-comment-button:hover{
    transition: .5s;
    color: white;
    background-color: red;
}
