
.splash-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.onlySounds-image-container > img{
    margin-top: 25%;
    width: 25vw;
    border-radius: 999px;
    cursor: default;
}

.profile-links > a{
    text-decoration: none;
}
.fa-brands{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    color: black;
}
