@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* over all nav bar */
#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #27272B;
    height:5vh;
}

/* NavButtons layout */
.navButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
}

/* home button */
.homeButton{
    text-decoration: none;
    display: flex;
    color: #00A5DF;
}

.homeButton:hover{
    transition: 1s;
    color:#FFFFFF;
}

/* log in button */
.loginButton{
    text-decoration: none;
    color: #00A5DF;
    margin-right: 1em;

    cursor: pointer;
}

/* signup button */

.singupButton{
    text-decoration: none;
    color: #00A5DF;
    margin-left: 1em;

    cursor: pointer;
}

/* only sounds title */
.onlysounds-title{
    color: #FFFFFF;
    /* background-color: #2B5B6C; */
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
    font-style: italic;
}


/* profilebutton css */
.fa-id-card{
    color:#FFFFFF;
}
